.testimonials-slider {
    .swiper-slide {
        //margin: 0 20px !important;
       // border: 1px solid #000;

       
    }

     .slide-content {
        background:#fff!important;
        margin: 0 20px !important;
        transition: .2s all;
        padding: 20px 25px !important;
        border-bottom: 2px solid transparent;
        &:hover {
            box-shadow: 0 15px 30px 0 rgb(42 116 237 / 10%);
            border-bottom: 2px solid #2a74ed;
        }
    }

    .no-media-background {
        margin: 0 20px !important;
    }

    
    .eedee-gutenslider-prev {
        left: -50px !important;
    }

    
    .eedee-gutenslider-next {
        right: -50px !important;
    } 
}


 